@if (isAddingTasks) {
    <app-new-task (cancel)="onCancelAddTask()" (addTask)="onAddTask($event)"/>
}
<section>
    <header>
        <h2>{{ name }}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTasks()">Add Task</button>
        </menu>
    </header>

    <ul>
        @if (selectedUserTasks.length < 1) {
            <p> No tasks found!</p>
        }
        @for (task of selectedUserTasks; track task.id) {
        <li>
            <app-task [task]="task" (complete)="onCompleteTask($event)"/>
        </li>
        }
    </ul>
</section>